* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.inner-container {
    margin: auto;
}

.options {
    display: flex;
    flex-direction: column;
}